<div class="ui container">
  <form class="ui segment form">
    <h4 class="ui dividing header">Cetak Laporan Aktivitas</h4>
    <div class="fields">
      <div class="three wide field">
        <label for="">Dari Tanggal</label>
        <input type="date" name="from" id="from" ng-model="filter.from">
      </div>
      <div class="three wide field">
        <label for="">Sampai Tanggal</label>
        <input type="date" name="to" id="to" ng-model="filter.to">
      </div>
      <div class="four wide field">
        <label for="">&nbsp;</label>
        <button class="ui primary button" tabindex="0" ng-click="generateActivities(filter)"> <i class="check icon"></i>
          Filter</button>
        <button class="ui secondary button" tabindex="0" ng-click="exportExcel(filter)"> <i
            class="arrow alternate circle down icon"></i> Export</button>
      </div>
    </div>
  </form>
  
  <div class="ui segment" ng-if="showContent">
    <h3 class="ui center aligned header">
      <div class="content">
        Laporan Aktivitas
        <div class="sub header">Periode : {{ filter.from | date:'y-MM-dd' }} - {{ filter.to | date:'y-MM-dd' }}</div>
      </div>
    </h3>
  
    <table class="ui celled structured green table">
      <thead>
        <tr>
          <th class="one wide">No</th>
          <th class="three wide">Akun</th>
          <th class="four wide">Nama Akun</th>
          <th class="two wide">Jumlah</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th colspan="4">PERUBAHAN ASET NETO TERIKAT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><strong>Pendapatan</strong></td>
        </tr>
        <tr ng-repeat="item in bound_incomes">
          <td>{{ $index+1 }}</td>
          <td>{{ item.account_code }}</td>
          <td>{{ getAccountName(item.account_code)  }}</td>
          <td class="right aligned" ng-class="{ 'red':isMinus(item.credit - item.debit) }">
            {{ toAccountCur(item.credit - item.debit) }}</td>
        </tr>
        <tr>
          <td colspan="3" class="bold">Jumlah</td>
          <td class="bold right aligned" ng-class="{ 'red':isMinus(total_bound_income) }">
            {{ toAccountCur(total_bound_income) }}
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="4"><strong>Beban</strong></td>
        </tr>
        <tr ng-repeat="item in bound_expenses">
          <td>{{ $index+1 }}</td>
          <td>{{ item.account_code }}</td>
          <td>{{ getAccountName(item.account_code)  }}</td>
          <td class="right aligned" ng-class="{ 'red':isMinus(item.credit - item.debit) }">{{ toAccountCur(item.credit - item.debit) }}</td>
        </tr>
        <tr>
          <td colspan="3" class="bold">Jumlah</td>
          <td class="bold right aligned" ng-class="{ 'red':isMinus(total_bound_expense) }">
            {{ toAccountCur(total_bound_expense) }}
          </td>
        </tr>
        <tr>
          <td colspan="3" class="bold">Kenaikan/Penurunan Aset Neto Terikat</td>
          <td class="bold right aligned" ng-class="{ 'red':isMinus(total_bound_expense + total_bound_income) }">
            {{ toAccountCur(total_bound_expense + total_bound_income) }}
          </td>
        </tr>
      </tbody>
      <!-- Tidak Terikat -->
      <thead>
        <tr>
          <th colspan="4">PERUBAHAN ASET NETO TIDAK TERIKAT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4"><strong>Pendapatan</strong></td>
        </tr>
        <tr ng-repeat="item in unbound_incomes">
          <td>{{ $index+1 }}</td>
          <td>{{ item.account_code }}</td>
          <td>{{ getAccountName(item.account_code)  }}</td>
          <td class="right aligned" ng-class="{ 'red':isMinus(item.credit - item.debit) }">
            {{ toAccountCur(item.credit - item.debit) }}</td>
        </tr>
        <tr>
          <td colspan="3" class="bold">Jumlah</td>
          <td class="bold right aligned" ng-class="{ 'red':isMinus(total_unbound_income) }">
            {{ toAccountCur(total_unbound_income) }}
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="4"><strong>Beban</strong></td>
        </tr>
        <tr ng-repeat="item in unbound_expenses">
          <td>{{ $index+1 }}</td>
          <td>{{ item.account_code }}</td>
          <td>{{ getAccountName(item.account_code)  }}</td>
          <td class="right aligned" ng-class="{ 'red':isMinus(item.credit - item.debit) }">
              {{ toAccountCur(item.credit - item.debit) }}</td>
        </tr>
        <tr>
          <td colspan="3" class="bold">Jumlah</td>
          <td class="bold right aligned" ng-class="{ 'red':isMinus(total_unbound_expense) }">
            {{ toAccountCur(total_unbound_expense) }}
          </td>
        </tr>
        <tr>
          <td colspan="3" class="bold">Kenaikan/Penurunan Aset Neto Tidak Terikat</td>
          <td class="bold right aligned" ng-class="{ 'red':isMinus(total_unbound_expense + total_unbound_income) }">
            {{ toAccountCur(total_unbound_expense + total_unbound_income) }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3" class="bold"><strong> Perubahan Aset Neto </strong></th>
          <th class="bold right aligned" ng-class="{ 'red':isMinus(total_final) }">
            <strong>{{ toAccountCur(total_final) }}</strong></th>
        </tr>
        <tr>
          <th colspan="3" class="bold"><strong> ASET NETO AWAL TAHUN</strong></th>
          <th class="bold right aligned" ng-class="{ 'red':isMinus(last_total) }">
            <strong>{{ toAccountCur(last_total) }}</strong></th>
        </tr>
        <tr>
          <th colspan="3" class="bold"><strong> ASET NETO AKHIR TAHUN</strong></th>
          <th class="bold right aligned" ng-class="{ 'red':isMinus(total_final + last_total) }">
            <strong>{{ toAccountCur(total_final + last_total) }}</strong></th>
        </tr>
      </tfoot>
  </div>
</div>